.bulletin-info{
    @include span-columns(6 of 6);
    padding-top: $modular-scale-sm;
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;

    @include media($medium-screen) {
      padding-top: $modular-scale-lg;
    }

    h2 {
      margin-top: 0.5em;
      border: none;
      color: $light-medium-gray;
      padding: none;
    }

    .boldcircle {
      top: -4em;
      right: -3em;  
      position: absolute;
      @include circle($light-medium-gray, $white, 60px, 0.7em);
      
      @include media($medium-screen){
        top: -5em;
        right: -5em;  
        @include circle($light-medium-gray, $white, 80px, 0.8em);
      }
    }
}

.bulletin-link{
    @include span-columns(6 of 6);

    &__text {
      @include span-columns (11 of 12);
      @include media($medium-screen) {
        @include span-columns (10 of 12);
      }
    }

    &__svg {
      @include span-columns (1 of 12);
      height: 0.7em;
      width: 0.7em;
      
      @include media($medium-screen) {
        @include span-columns (2 of 12);
        height: 1em;
        width: 1em;
      }
      
    }

}