.bulletin-info{
    @include span-columns(6 of 6);
    padding-top: $modular-scale-lg;
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;

    h2 {
      margin-top: 0.5em;
      border: none;
      color: $light-medium-gray;
      padding: none;
    }

    h3 {
      top: -4em;
      right: -3em;  
      height: 60px;
      width: 60px;
      line-height: 50px;
      font-size: 0.7em;
      position: absolute;
      background: $light-medium-gray;
      color: $white;
      padding: $modular-scale-xxxxs;
      border-radius: 100%;
      text-align: center;
      transform: rotate(10deg);
      @include media($medium-screen){
        top: -5em;
        right: -5em;  
        height: 80px;
        width: 80px;
        line-height: 70px;
        font-size: 0.8em;
      }
    }
}

.bulletin-link{
    @include span-columns(6 of 6);
    // @include align-self(center);

    p {
      @include span-columns (10 of 12);
    }

    &__svg {
      @include span-columns (2 of 12);
      height: 20px;
      width: 20px;
      
    }

}