.bulletin-info{
    @include span-columns(6 of 6);
    padding-top: $modular-scale-lg;
    position: relative;
    h2{
      margin-top: 0.5em;
      border: none;
      color: $light-medium-gray;
      padding: none;
    }
    h3{
      position: absolute;
      top: -5em;
      right: -5em;
      background: $light-medium-gray;
      color: $white;
      padding: $modular-scale-xxxxs;
      border-radius: 100%;
      height: 80px;
      width: 80px;
      line-height: 70px;
      text-align: center;
      font-size: 0.8em;
      transform: rotate(10deg);
    }
}

.bulletin-download{
    @include span-columns(6 of 6);
    // @include align-self(center);
    a{
      white-space: pre-wrap; 
      word-wrap: break-word;
    }

}