.contact {
  @include span-columns(12);

  .contact-information {
    @include span-columns(12);
    @include media($medium-screen) {
      @include span-columns(6);
    }
  }

  .contact-form {
    @include span-columns(12);
      @include media($medium-screen) {
        @include span-columns(6);
    }
  }
}
