header {
  $navigation-padding: 1em;
  $navigation-background: $dark-gray;
  $navigation-color: transparentize($white, 0.45);
  $navigation-color-hover: transparentize($white, 0.2);
  $navigation-height: 120px;
  $navigation-nav-button-background-hover: lighten($navigation-background, 10%);
  $navigation-active-link-color: transparentize($white, 0.5);
  $navigation-submenu-padding: 1em;
  $navigation-submenu-width: 12em;

  background-color: $navigation-background;
  border-bottom: 1px solid darken($navigation-background, 10);
  min-height: $navigation-height;
  width: 100%;
  z-index: 999;
  font-family: $heading-font-family;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  box-shadow: 0px 2px 5px $medium-gray;
  margin-bottom: modular-scale(5);

  .navigation-wrapper {
    @include outer-container;
    position: relative;
    z-index: 9999;
    height: 120px;
  }

  // mobile view
  
  .block-nav{
    height: 120px;
    display: inline-block;
  }
  
  .logo-left{
    @include span-columns(5);
    @include shift(1);
    @include media ($xlarge-screen) {
      @include span-columns(3);
      @include shift(0);
    }
  }

  .logo {
    @include vertical-align;
    display:block;
    img {
      max-height: calc(0.3 * #{$navigation-height});
    }  
    @include media($medium-screen){
      img {
        max-height: calc(0.4 * #{$navigation-height});
     }
    }      
    h4{
      position: relative;
      color: $green; 
      font-size: 0.65em;
      line-height: 1.4;
      margin-left: 15px;  
     @include media($medium-screen){
        font-size: 0.75em;  
      }
    }
  }

  .menu-right{
    @include span-columns(4);  
    @include shift(1);  
    @include media ($medium-screen) {
      @include span-columns(3);
      @include shift(2);
    }
    @include media ($xlarge-screen) {
      display: none;
    }

  // Mobile view for logo and menu button
  .menu-button{
    @include media ($xlarge-screen) {
      display: none;
    }
    @include vertical-align;
    display: block;
    color: $navigation-color-hover;
    font-weight: 500;
    text-transform: uppercase;
    text-align: right;
    &:hover,
    &:focus{
      font-weight: 700;
    }
    .menu-size{
      font-size: 18px;
    }

    .hamburger-icon{
      display: inline-block;
      width: 18px;
      margin-left: 5px;
      position: relative;
      transform: rotate(0deg);
      transition: .5s ease-in-out;
      cursor: pointer;
      span{
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: $navigation-color-hover;
        border-radius: 5px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-out;
        &:nth-child(1){
          top: -12px;
        }
        &:nth-child(2){
          top: -7px;
        }
        &:nth-child(3){
          top: -2px;          
        }
      }
    }
    &.open{
      span{
        &:nth-child(2){
          opacity: 0;
        }
        &:first-child{
          transform: rotate(45deg);
          top: -0.5em;
        }
        &:last-child{
          transform: rotate(-45deg);
          top: -0.5em;
        }
      }
    }
}//closing menu-button
}//closing menu right

// Nav menu
  nav {
    z-index: 9;
    @include media ($xlarge-screen) {
     @include direction-context(right-to-left) {
         @include span-columns(9);
      }
    }
  }

  ul.navigation-menu {
    -webkit-transform-style: preserve-3d; // stop webkit flicker
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: scroll;
    padding: 0;
    z-index: -100;
    line-height: 60px;
    &.show {
      display: block;
    }
    @include media ($xlarge-screen) {
      float: right;
      display: inline-block;
      margin: 0;
      padding: 0;
      line-height: 120px;
    }
  }

  // The nav items

  ul li.nav-link {
    background: $navigation-background;
    display: block;
    overflow: hidden;
    text-align: center;
    width: 100%;
    z-index: 999;
    @include media ($xlarge-screen) {
      padding-right: 1.5em;
      background: transparent;
      display: inline;
      text-decoration: none;
      width: auto;
      //Unterstützungslink
      &:last-child{
        padding-right: 0;
        &>a{
          color: saturate(lighten($pink, 13), 10);
          &:hover{
            color: saturate($pink, 10);
            &:before {
              background: $pink;
            }
          }
        }
      }
    }

    &.current_page_item{
      a {
        color: transparentize($white, 0.2);
     }
    }
    a {
      color: $navigation-color;
      position: relative;
      font-weight: 500;
      text-decoration: none;
      padding: 7px 0;
      @include media ($xlarge-screen) {
        margin-right: 1em;
        &:last-child{
          margin-right: 0;
        }
      }
      &:hover{
        color: $navigation-color-hover;
      } 
      &:before{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0px;
        height: 1px;
        width: 0;
        background: transparent;
        transition: width 0s ease, background .5s ease;
      }
      &:hover:before {
        width: 100%;
        background: $navigation-color-hover;
        transition: width .2s ease-out;
      }
    }
  }

  .active-nav-item a {
    border-bottom: 1px solid $navigation-active-link-color;
    padding-bottom: 3px;
  }

  // Sub menus

  li.more.nav-link {
    padding-right: 0;

    @include media ($xlarge-screen) {
      > ul > li:first-child a  {
        padding-top: 1em;
      }
      a {
        margin-right: $navigation-submenu-padding;
        &:before{
          content: none;
        }
      }
    }

    > a {
      padding-right: 0.6em;
    }


    > a:after {
      @include position(absolute, auto -0.4em auto auto);
      content: '\25BE';
      color: $navigation-color;
    }
  }

  li.more {
    overflow: visible;
    padding-right: 0;


    a {
      padding-right: 0.8em;
    }

    > a {
      padding-right: 1.6em;
      position: relative;

      @include media($xlarge-screen) {
        margin-right: $navigation-submenu-padding;
      }
    }

    &:focus > .submenu,
    &:hover > .submenu {
      display: block;
    }

    @include media($xlarge-screen) {
      padding-right: 0.8em;
      position: relative;
    }
  }

  ul.submenu {
    display: none;
    padding-left: 0;
    background-color: $dark-gray;

    @include media($xlarge-screen) {
      left: -$navigation-submenu-padding;
      position: absolute;
      top: 1.5em;
    }

    .submenu {
      @include media($xlarge-screen) {
        left: $navigation-submenu-width - 0.2em;
        top: 0;
      }
    }

    li {
      display: block;
      padding-right: 0;
      line-height: 50px;

      @include media($xlarge-screen) {

        &:first-child > a {
          border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;
        }

        &:last-child > a {
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
          margin-bottom: 0.7em;
        }
      }

      a {
        background-color: darken($navigation-background, 3%);
        display: inline-block;
        text-align: center;
        width: 100%;
        

        @include media($xlarge-screen) {
          background-color: $navigation-background;
          margin-left: $navigation-submenu-padding;
          text-align: left;
          width: $navigation-submenu-width;
        }
      }
    }
  }

//frau
.name-wrapper{
  @include outer-container; 
  $navigation-background: $dark-gray;
  padding-bottom: modular-scale(3);
  @include media($medium-screen){
    padding: modular-scale(3) 0 modular-scale(5) 0;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      @include background(url("../images/Frau2.jpg") no-repeat right bottom);
      bottom: 3em;
      right: 0;
      @include animation(bluredPic 10s ease infinite alternate-reverse);
      width: 100%;
      height: 100%;
      z-index: 0;
    }
    
  }
  @include media($xlarge-screen){
    padding: modular-scale(5) 0 modular-scale(7) 0;
  }
  h1{
    font-size: modular-scale(2);
    @include span-columns(12);
    @include word-wrap;
    color: $green;
    text-align: center;
    display: inline-block;
    margin: 0;
    line-height: 1.5;
    @include animation (bluredText 3s linear forwards);
    @include media($medium-screen){
      font-size: modular-scale(3);
    };
    @include media($large-screen){
      font-size: modular-scale(4);
    }
  }

}

}


