main{
  @include clearfix;
  @include outer-container; 
}

.wer{
  margin-top: -7em; 
  border: none;
  line-height: 1.7;
  z-index: 5; 
}

.full-width-box{
  &:nth-of-type(n+2){
    margin-top: modular-scale(4);
  }
}

.highlighted{
  font-weight: 600;
  color: $dark-gray;
  &:active,
  &:focus,
  &:hover {
    background-color: lighten($green, 30%);
  }

}

.beratungsbox{
  margin-top: modular-scale(2);
  @include span-columns(12); 
  @include media ($large-screen){
    @include span-columns(9); 
  }

  //tabs 
  ul{
    @include span-columns(10 of 12);
    @include shift(1);
    margin-top: modular-scale(2);
    @include media ($large-screen){
      display: none;
    }
    li{
      float: left;
      width: 50%;
      color: $light-medium-gray;
      background-color: $light-gray;
      position: relative;
      &:first-child{
        .active{
          border-right: solid 2px $medium-gray;
        }
      }
      &:nth-child(2){
        .active{
          border-left: solid 2px $medium-gray;
        }
      }
     
      a{
        display: block;
        padding: $modular-scale-lg;
        background-color: white;
        border-bottom: solid 2px $medium-gray;
        h3{
          color: $medium-gray;
          transition: transform 0.2s ease;
        }
        &.active{
          border-top: solid 2px $medium-gray;
          background-color: white;
          border-bottom: none;
          border-left:solid 2px $medium-gray;
          border-right: solid 2px $medium-gray;
        }
        &:not(.active) h3:hover{
        transform: translateY(-3px);
        }
      }
    }
    h3{
      border-bottom: none;
      color: $medium-gray;
      text-align: center;
      margin: 0;
    }
  }

  .map{
    @include background(url("../images/map_bern.jpg"));
    height: 188.675px;
    &:nth-of-type(3){
      margin-top: modular-scale(2);
    }
  }
  
  .beratung{
    @include span-columns(10);
    @include shift(1);
    @include display(flex);
    @include flex-direction(column);
    display: none;

    @include media ($large-screen){
      @include span-columns(9 of 9); 
      @include shift(0);
      @include display(flex);
      @include flex-direction(column);
      &:nth-of-type(2){
        margin-top: modular-scale(2);
      }
    }
    &.active-content{
      @include display(flex);
      @include flex-direction(column);
      @include media ($large-screen){
        border-top: none;
      }
    }
  }

  h3{
    border-bottom: solid $medium-gray 0.1em;
    padding-bottom: (golden-ratio(0.1em,  1));
  }

  .hide-when-small{
    display: none;
    @include media ($large-screen){
    display: inline;
    }
  }

  .minorlink{
    margin-top: modular-scale(1);
    @include align-self(stretch);
    @include media ($medium-screen){
      @include align-self(flex-end);
    }
  }
}



.linksbox{
  @include span-columns(10);
  @include shift(1);
  margin-top: modular-scale(2);
  @include media ($large-screen){
    @include span-columns(3); 
    @include shift(0);  
  }
  .mainlink{
   &:nth-of-type(n+2){
    margin-top: modular-scale(1);
  } 

}

}





