.page-template-content-unterstuetzung {
  background-color: $medium-gray;
  color: $white;

  header {
    border-bottom: none;
  }

  form {
    margin-top: 4em;
    color: $white;

    .unterstuetzung-form {
      @include span-columns(12 of 12);
      @include media($large-screen) {
        @include span-columns(5);
      }
    }

    .unterstuetzung-adresse {
      @include span-columns(12 of 12);
      @include media($large-screen) {
        @include span-columns(5);
        @include shift(2);
        @include omega;
      }

    }

  }
}
