@import "../../../../bower_components/bourbon/app/assets/stylesheets/bourbon";
$visual-grid: false;
$visual-grid-color: yellow;
$visual-grid-index: front;
$visual-grid-opacity: 0.08;


@import "../../../../bower_components/neat/app/assets/stylesheets/neat";
@import "base/base";



@import "partials/header";
@import "partials/main";
@import "partials/footer";
@import "partials/video";
@import "partials/contact";
@import "partials/card";
@import "partials/media";

@import "templates/front-page";
@import "templates/bulletin";
@import "templates/beratung";
@import "templates/aktivitaeten";
