body{
  background-color: $light-gray;
}

.box{
  padding: $big-golden-ratio $medium-golden-ratio;
  background-color: $white;
  @include media($medium-screen){
    padding: $big-golden-ratio;
  }
  p:last-child{
    margin: 0;
  }
}

.dark-box{
  background-color: $medium-gray;
  color: $white;
}

.modular-content{
  @include display(flex);
  @include flex-wrap(wrap);
}

.full-width-box{
  margin: $big-golden-ratio 0;
  @include span-columns(10);
  @include shift(1);
  @include display(flex);
  @include flex-direction(column);
  
  @include media($xlarge-screen){
   @include span-columns(12);
   @include shift(0);
   @include display(flex);
   @include flex-direction(column);
   @include omega;
 }
}

.border-left{
  border-left: $pink solid 3px;
}
  
  
.half-width-box{
  margin: $medium-golden-ratio 0;
  @include span-columns(10);
  @include shift(1);
  @include display(flex);
  @include flex-direction(column);

  @include media($medium-screen){
    @include span-columns(5);
    @include shift(1);
    @include display(flex);
    @include flex-direction(column);
    &:nth-of-type(2n){
      @include shift(0);
      @include span-columns(5);
      @include omega;
    }
  }
  
  @include media($xlarge-screen){
    @include span-columns(6);
    @include shift(0);
    @include display(flex);
    @include flex-direction(column);
    &:nth-of-type(2n){
      @include span-columns(6);
      @include omega;
    }
  }
}

.icon-wrapper{
  margin: 0 auto;
  width: 20%;
  height: auto;
  border-radius: 100%;
  border: solid 2px $dark-gray;
  margin-bottom: $big-golden-ratio;
}
.icon-in-half-width-box{
  margin: 0 auto;
  padding: 20%;
  display: block;
}

.three-quarter-box{
  margin: $medium-golden-ratio 0;
  @include span-columns(10);
  @include shift(1);

  @include media($medium-screen){
    @include span-columns(7);
    @include shift(1);
    @include flex-direction(column);
  }
  
  @include media($xlarge-screen){
     @include span-columns(9);
     @include shift(0);
     @include flex-direction(column);
 }
}

.two-third-box{
  margin: $medium-golden-ratio 0;
  @include span-columns(10);
  @include shift(1);

  @include media($medium-screen){
    @include span-columns(6);
    @include shift(1);
    @include flex-direction(column);
  }
  
  @include media($xlarge-screen){
     @include span-columns(8);
     @include shift(0);
     @include flex-direction(column);
 }
}

.one-third-box{
  margin: $medium-golden-ratio 0;
  @include span-columns(10);
  @include shift(1);

  @include media($medium-screen){
    @include span-columns(6);
    @include shift(1);
    @include flex-direction(column);
  }
  
  @include media($xlarge-screen){
     @include span-columns(4);
     @include shift(0);
     @include flex-direction(column);
 }
}

.image-box-wrapper{
  max-height: 75%;
    
    img {
      object-fit: cover;
    }

}

.box-omega{
  @include omega;
}

.minorlink{
  @include align-self(stretch);
  @include media ($large-screen){
    @include align-self(flex-end);
  }
  color: $medium-gray;
  border-radius: $base-border-radius;
  border: $medium-gray 3px solid;
  position: relative;
  cursor: pointer;
  font-family: $heading-font-family;
  padding: $medium-golden-ratio $big-golden-ratio;
  line-height: 1;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  background-color: none;
  transition: 0.4s ease-out;
  margin-top: $small-golden-ratio;
  &:before{
    content: '➞';
    position: absolute;
    color: $medium-gray;
    transition: all 0.3s;
    right: 40px;
    opacity: 0;
    top: 25%;
  }
  &:hover:before{
    right: 10px;
    opacity: 1;
  }
}

.mainlink{
  display: block;
  -webkit-font-smoothing: antialiased;
  background-color: $pink;
  border-radius: $base-border-radius;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: $heading-font-family;
  font-size: $medium-font-size;
  font-weight: 700;
  padding: $medium-golden-ratio;
  line-height: 1;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  transition: color 0.1s linear;
  &:hover,
  &:focus {
    background-color: saturate($pink, 10%);
    color: #fff;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  p{
    margin: 0;
    transform: translateY(0);
    transition: transform 0.2s ease;
    &:hover{
      transform: translateY(-3px);
    }
  }

}

.big-paragraph{
  font-size: $medium-font-size;
}

.quote{
  display: inline-block;
  font-style: italic;
  text-align: center;
  &:before{
    content: "❝ ";
    color: $green;
  }
  &:after{
    content: " ❞";
    color: $green;
  }
}

