

.icon-wrapper {
	margin: 0 auto;
	width: 20%;
	height: auto;
	border-radius: 100%;
	border: solid 2px $dark-gray;
	margin-bottom: $modular-scale-xlg;
}

.icon-in-half-width-box {
	margin: 0 auto;
	padding: 20%;
	display: block;
}

.image-box-wrapper {
	padding: 0;
		
	img { 
		object-fit: cover;
		max-width: none;
		height: 100%;
	}
}

.right-element-in-row {
	@include omega;
}

a.minorlink-dark {
	@include link-with-border($medium-gray, $white);
}

a.minorlink-white  {
	@include link-with-border($white, $transparent);
}

.mainlink {
	@include link-plain-push($pink, $white)
}

.quote {
	display: inline-block;
	font-style: italic;
	text-align: center;
	
	&:before {
		content: "❝ ";
		color: $green;
	} 

	&:after {
		content: " ❞";
		color: $green;
	}
}

