.gallery {
	@include display(flex);
	@include flex-wrap(wrap);
}

.gallery-card {
	@include span-columns(12 of 12);
	margin-bottom: 30px;
	@include omega;

	@include media($medium-screen){
		@include span-columns(4 of 12);

	}

}

.gallery-text {
	padding: $modular-scale-lg $modular-scale-md;
	background-color: $white;
	min-height: 400px;

	@include media($medium-screen){
		padding: $modular-scale-md;

	}

}

