.gallery {
	@include display(flex);
	@include flex-wrap(wrap);
}

.gallery-card {
	@include span-columns(10 of 10);
	margin-bottom: 30px;
	@include display(flex);

	@include media($medium-screen){
		@include span-columns(4 of 12);

	}

}

.gallery-text {
	padding: $modular-scale-lg $modular-scale-md;
	background-color: $white;
	@include display(flex);
	@include flex-direction(column);
	min-height: 400px;

	@include media($medium-screen){
		padding: $modular-scale-md;

	}

}

