.gallery {
	@include span-columns(12);
	@include display(flex);
	@include flex-wrap(wrap);

	&__item {
		@include span-columns(12 of 12);
		margin-bottom: 30px;
		@include omega;

		@include media($medium-screen){
		  @include span-columns(4 of 12);
		}
	}

	&__text {
		@include media($medium-screen) {
		  min-height: 400px;
		}
	}

	&__boldcircle {
		@include circle($medium-gray, $white, 80px, 0.7em);
		position: absolute;
		top: -2em;
		right: -1em;

		@include media($medium-screen) {
			  @include circle($medium-gray, $white, 70px, 0.8em);
			  top: -2em;
			  right: -2em;
		}
	}
}
