.gallery-card {
	@include span-columns(10 of 10);
	
	@include media($medium-screen){
		@include span-columns(4 of 12);
	}

	&:nth-of-type(3) {
		@include omega;
	}
}

.gallery-text {
	padding: $modular-scale-lg $modular-scale-md;
	background-color: $white;
	@include display(flex);
	@include flex-direction(column);
	
	@include media($medium-screen){
		padding: $modular-scale-md;
		@include display(flex);
		@include flex-direction(column);
	}


}

