@mixin vertical-align {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin word-wrap() {
  word-break: break-word;
  hyphens: auto;
}

@mixin link-with-border($main-color, $background-color){
  @include align-self(stretch);
  padding: $modular-scale-xs $modular-scale-xs;
  position: relative;
  vertical-align: middle;
  color: $main-color;
  background-color: $background-color;
  border-radius: $base-border-radius;
  border: $main-color 0.2em solid;
  cursor: pointer;
  font-family: $heading-font-family;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: $letter-spacing-lg;
  transition: 0.4s ease-out;
  margin-top: $modular-scale-xxxs;

  @include media ($large-screen) {
    @include align-self(flex-end);
    padding: $modular-scale-xs $modular-scale-lg;
  }
  
  &:before {
    content: '➞';
    position: absolute;
    color: $main-color;
    transition: all 0.3s;
    right: 25px;
    opacity: 0;
    top: 32%;
  }

  &:hover:before {
    right: 10px;
    opacity: 1;
  }
}

@mixin underline-link($font-color, $underline-color) {
  color: $font-color;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  display: inline-block;
  &:after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0.5px;
    background: $underline-color;
    content: '';
    opacity: 0;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    transform: translateY(-3px);
  }
  &:hover{
    color: $underline-color;
  }
  &:hover:after{
    height: 1.5px;
    opacity: 1;
    transform: translate(0px);
  }
}

@mixin title-border-bottom($color) {
  border-bottom: 0.09em solid $color;
}

@mixin link-plain-push($background-color, $font-color) {
  display: block;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  background-color: $background-color;
  border-radius: $base-border-radius;
  border: none;
  color: $font-color;
  cursor: pointer;
  font-family: $heading-font-family;
  font-size: $medium-font-size;
  font-weight: 700;
  padding: $modular-scale-sm $modular-scale-xxxs;
  line-height: 1;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: $letter-spacing-lg;
  transition: color 0.1s linear;

  &:hover,
  &:focus {
    background-color: saturate($background-color, 5%);
    color: $font-color;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  p {
    color: $font-color;
    margin: 0;
    transform: translateY(0);
    transition: transform 0.2s ease;
    font-weight: 400;
    display: inline-block;
    text-align: center;
    
    &:hover {
      transform: translateY(-3px);
    }
  }

}

@mixin plain-link($font-color, $background-color) {
  @include appearance(none);
  width: 100%;
  -webkit-font-smoothing: antialiased;
  background-color: $background-color;
  border-radius: $base-border-radius;
  border: none;
  color: $font-color;
  cursor: pointer;
  display: inline-block;
  font-family: $heading-font-family;
  font-size: $base-font-size-lg;
  font-weight: 600;
  line-height: 1;
  padding: $modular-scale-xxs $modular-scale-xs;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  border: solid 0.11em transparent;
  letter-spacing: $letter-spacing-lg;

  &:hover,
  &:focus {
    background-color: $font-color;
    color: $background-color;
    border: solid 0.11em $background-color;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

@mixin circle($background-color, $color, $size, $font-size) {
  height: $size;
  width: $size;
  padding: $modular-scale-xxxxs;
  line-height: $size - 10px;
  text-align: center;
  font-size: $font-size;
  background-color: $background-color;
  color: $color;
  transform: rotate(10deg);
  border-radius: 100%;
}

@mixin full-width-flex-box {
  margin: $modular-scale-sm 0;
  @include span-columns(12 of 12);
  @include display(flex);
  @include flex-direction(column);
  @include omega; 
}



