  body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
    
    .pink-box, 
    .dark-box {
      color: $white
    }

  font-family: $base-font-family;
  font-size: $base-font-size-sm;
  @include media($medium-screen){
    font-size: $base-font-size-md;
  }
  @include media($large-screen){
    font-size: $base-font-size-lg;
  }
  line-height: $base-line-height;
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
  letter-spacing: $letter-spacing-md;
}

h1,
h2,
h3,
h4{
  text-transform: uppercase;
}

h1{
  font-weight: 700;
  font-size: $big-font-size;
  @include media ($medium-screen) {
    font-size: $very-big-font-size;  
  }
  text-transform: uppercase;
}

h2{
  font-weight: 500;
  font-size: $medium-font-size;
  @include media ($large-screen) {
    font-size: $big-font-size;  
  }
  padding-bottom: 0.15em;
  border-bottom: 0.09em solid $medium-gray;
  display: inline-block;
}

h3{
  font-weight: 500;
  font-size: $medium-font-size;
}

.italic{
  font-style: italic;
  font-family: $heading-font-family;
  font-weight: 400;
  text-transform: none;
}

h4.italic{
  font-size: $base-font-size-lg;
  color: $light-medium-gray;

  .pink-box &, 
  .dark-box &{
    color: $white
  }

  font-size: 0.8em;
}

h5{
  font-weight: 600;
  font-size: $small-font-size;
  color: $pink;

  .pink-box &, 
  .dark-box &{
    color: $white
  }

  text-transform: uppercase;

}

p {
  font-size: $base-font-size-sm;
  @include media($medium-screen){
    font-size: $base-font-size-md;
  }
  @include media($large-screen){
    font-size: $base-font-size-lg;
  }
  margin: 0 0 $small-spacing;
  letter-spacing: $letter-spacing-sm;
  font-weight: 300;
  a {
    color: $dark-gray;
    font-weight: 700;
    text-decoration: none;
    position: relative;
    display: inline-block;
    &:after {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 0.5px;
      background: $medium-gray;
      content: '';
      opacity: 0;
      transition: height 0.3s, opacity 0.3s, transform 0.3s;
      transform: translateY(-3px);
    }
    &:hover{
      color: $medium-gray;
    }
    &:hover:after{
      height: 1.5px;
      opacity: 1;
      transform: translate(0px);
    }
  }
}

a {
  text-decoration: none;
  color: $pink;
  transition: color 0.5s;
  &:hover {
    color: saturate($pink, 15%);
  }
}

.pink-box p a,
.dark-box p a {
  color: $white;
  &:after {
    background: $white;
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}
